/* PlaylistStyle.css */
#add-song-form input {
    width: 70%;
    float: left;
}

#add-song-form button {
    width: 28%;
    float: right;
}

#song-list {
    clear: both;
    list-style-type: none;
    padding: 0;
}

#song-list li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.play-button {
    background-color: #e74c3c;
    margin-top: 20px;
}

.play-button:hover {
    background-color: #c0392b;
}