<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>らくらくプレイリスト - トップページ</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/IndexStyle.css">
</head>
<body>
<div class="container">
    <h1>らくらくプレイリスト</h1>
    <div class="button-container">
        <a href="playlist" class="button">新規</a>
        <a href="search" class="button">既存</a>
    </div>
</div>
</body>
</html>