<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>らくらくプレイリスト - 再生</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/PlayStyle.css">
</head>
<body>
<header class="header">
    <h1>らくらくプレイリスト</h1>
    <a href="playlist" class="play-button">編集</a>
</header>
<div class="container content">
    <div id="player">
        <!-- YouTubeプレイヤーはJavaScriptで埋め込まれます -->
    </div>
    <ul id="play-list">
        <!-- 再生リストはJavaScriptで動的に追加されます -->
    </ul>
</div>
</body>
</html>