<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>らくらくプレイリスト - 検索</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/SearchStyle.css">
</head>
<body>
<header class="header">
    <h1><i class="fas fa-music"></i> らくらくプレイリスト</h1>
    <div class="header-controls">
        <a href="index" class="icon-button"><i class="fas fa-home"></i></a>
    </div>
</header>
<div class="container content fade-in">
    <form action="playlist" method="get">
        <input type="text" name="id" placeholder="プレイリストIDを入力" required>
        <button type="submit"><i class="fas fa-search"></i> 検索</button>
    </form>
</div>
</body>
</html>